<div class="row">

<div class="span6">
  <h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :html => { :class => "form-horizontal"},  :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="control-group">
     <label class="control-label" for="input01">Name</label>
          <div class="controls">
              <%= f.text_field :name, :placeholder=>"Your name please..", :html => {:class =>"span3", :id => "input01"} %>
          </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="input02">Email</label>
          <div class="controls">
              <%= f.email_field :email, :placeholder=>"Email Address...", :html => {:class =>"span3", :id => "input02"} %>
          </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="input03">Password</label>
          <div class="controls">
              <%= f.password_field :password, :placeholder=>"Password...", :html => {:class =>"span3", :id => "input03"} %>
          </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="input04">Password confirmation</label>
          <div class="controls">
              <%= f.password_field :password_confirmation, :placeholder=>"Repeat Password", :html => {:class =>"span3", :id => "input04"} %>
          </div>
  </div> 
  <br/>
   <div class="form-actions">
      <%= f.submit "Sign Up", :class =>'btn btn-large btn-primary'%>
  </div>

  <div class="change_link">Already a member?<%= render "devise/shared/links" %></div>
<% end %>
</div>

<div class="span6">
  <h2>Or use your other networks</h2>
  <br/>
  <%= link_to( image_tag('flogin.png'), "/auth/facebook" )%>
</div>
</div>