<div class="row">

<div class="span6">
  <h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :html => { :class => "form-horizontal"},  :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  

  <div class="input_block"><%= f.label :name %>
  <%= f.text_field :name, :placeholder=>"Your name please.." %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, :size=>"40", :placeholder=>"Email Address..." %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password, :placeholder=>" Secret Password" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :placeholder=>"Repeat Password" %></div>
  
  <br/>

  <div class="signin button"><%= f.submit "Sign up", :class =>'btn btn-green' %></div>
  <p class="change_link">Already a member?
<%= render "devise/shared/links" %></p>
<% end %>
</div>

<div class="span6">
  <h2>Or use your other networks</h2>
  <br/>
<%= link_to( image_tag('flogin.png'), user_omniauth_authorize_path(:facebook) )%>
</div>
</div>