<div class="row">    
   
<div class="span6">

<%= form_for(resource, :as => resource_name, :html => { :class => "form-horizontal"}, :url => session_path(resource_name)) do |f| %>
  <h2>Sign in</h2>
  <br />
  <div class="control-group">
     <label class="control-label" for="input01">Email</label>
          <div class="controls">
              <%= f.email_field :email, :placeholder=>"Email Address...", :html => {:class =>"span3", :id => "input01"} %>
          </div>
  </div>

  <div class="control-group">
     <label class="control-label" for="input02">Password</label>
          <div class="controls">
              <%= f.email_field :password, :placeholder=>"Password...", :html => {:class =>"span3", :id => "input02"} %>
          </div>
  </div>

  <div class="control-group">
             <% if devise_mapping.rememberable? -%>
             <div class="controls">
    <%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  </div>

  <div class="form-actions">
      <%= f.submit "Login", :class =>'btn btn-large btn-primary'%>
  </div>

<% end %>
<div class="change_link">Not a member yet?<%= render "devise/shared/links" %></div>
<br />
</div>


<div class="span6">
	<h2>Or use your other networks</h2>
	<br/>
  <%= link_to image_tag('flogin.png'), "/auth/facebook" %>
</div>
</div>